In [3]:
import enchant
import jaro
import pandas as pd
import textdistance

df = pd.read_excel('../Samples.ods', sheet_name="US")
df

,Street1,City1,State1,Country1,Pincode1,Street2,City2,State2,Country2,Pincode2
0,6649 N Blue Gum St,New Orleans,LA,US,70116,6649 N Blue Gum St,New Orleans,LA,US,70116
1,6650 N Blue Gum St,New Orleans,LA,US,70117,4 B Blue Ridge Blvd,Brighton,MI,US,48116
2,6651 N Blue Gum St,New Orleans,LA,US,70118,8 W Cerritos Ave #54,Bridgeport,NJ,US,8014
3,6652 N Blue Gum St,New Orleans,LA,US,70119,639 Main St,Anchorage,AK,US,99501
4,6653 N Blue Gum St,New Orleans,LA,US,70120,34 Center St,Hamilton,OH,US,45011
...,...,...,...,...,...,...,...,...,...,...
495,774 Leonis Blvd,Annandale,VA,US,22030,67 Rv Cent,Boise,ID,US,83709
496,775 Leonis Blvd,Annandale,VA,US,22031,2 Sw Nyberg Rd,Elkhart,IN,US,46514
497,776 Leonis Blvd,Annandale,VA,US,22032,89992 E 15th St,Alliance,NE,US,69301
498,777 Leonis Blvd,Annandale,VA,US,22033,61556 W 20th Ave,Seattle,WA,US,98104
499,778 Leonis Blvd,Annandale,VA,US,22034,63 E Aurora Dr,Orlando,FL,US,32804

determining the values of the parameters

In [ ]:
string1 = "390007"
string2 = "390008"

the Levenshtein distance between<br>
string1 and string2<br>
print(1-textdistance.levenshtein.normalized_distance(string1, string2))<br>
print(enchant.utils.levenshtein(string1, string2))

print(jaro.jaro_winkler_metric(string1, string2))

In [ ]:
df["Pincode"] = df["Pincode"].apply(str)

In [ ]:
print(df["Street"]+","+df["City"]+","+df["State"]+","+df["Country"]+","+df["Pincode"])

print(df.iloc[0]["Street"])